@import "../../variables";

.pageUpper {
  @media print {
    display: none;
  }
}

.nameForm {
  @media print {
    display: none;
  }

  display: flex;
  align-items: center;
  border-top: 1px solid $darkGrey;
  border-bottom: 1px solid $darkGrey;
  padding: 15px;
  margin: 25px 0;

  label,
  input {
    margin-right: 10px;
  }

  button {
    padding: 5px;
    height: auto;
    line-height: 11px;
  }
}

.textItem {
  margin: 20px 0;

  .sent {
    float: right;
    max-width: 300px;
  }

  .received {
    float: left;
    max-width: 300px;
  }
}

.clear {
  clear: both;
}

.name {
  font-size: 1.1em;
  margin: 0 0 5px;
}

.date {
  color: $dimGrey;
  margin: 0 0 5px;
}

.body {
  border: 1px solid $darkestGrey;
  padding: 10px;
  background: $lightGrey;
  border-radius: 3px;
}
